		<script type="text/javascript" src="plugins/jquery/js/jquery.min.js"></script>
		<script type="text/javascript" src="plugins/jquery-ui/js/jquery-ui.min.js"></script>
		<script type="text/javascript" src="plugins/popper/js/popper.min.js"></script>
		<script type="text/javascript" src="plugins/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="common/js/complete.js"></script>